<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.radtrack.update</string>
    <key>Disabled</key>
    <false/>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/org.radtrack/bin/update-daemon</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/org.radtrack.install.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/org.radtrack.install.log</string>
    <key>OnDemand</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <key>LaunchOnlyOnce</key>
    <false/>
    <key>UserName</key>
    <string>root</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>13</integer>
    </dict>
</dict>
</plist>
